* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    background: #202020;
}

h1 {
    text-align: center;
    font-size: 4em;
    padding: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#search {
    font-size: 1.1em;
    padding: 0.7em;
    width: 200px;
}

input {
    border: 1px solid antiquewhite;
    background: antiquewhite;
    border-radius: 5px;
}

.fa-search {
    padding: 0.2em;
    color: #202020;
    background: antiquewhite;
}

#main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px rgba(131, 128, 128, 0.51);
    padding: 1em;
    margin: 1em;
    width: 180px;
}

.flag {
    width: 100%;
    margin-bottom: 1em;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.country {
    margin-bottom: 1em;
    font-weight: bold;
}

.capital {
    font-style: italic;
}

.fa-globe-africa {
    margin-right: 0.5em;
}

.fa-city {
    margin-right: 0.5em;
}
